<!-- 
  Saad Bhuiyan and Coby Sontag
  SoftDev1 pd2
  K15 -- Using sessions to create a user log in experience
  2019-10-02
-->  

<!DOCTYPE html>
<html>
  <head>
    <title>
      Form
    </title>
  </head>
  <body>
    <h3> Log in to your account. </h3>
    <form action="/auth">
      Username: 
      <input type="text" name="username">
      <br>
      Password:
      <input type="text" name="password">
      <br>
      <input type="submit" name="login" value="Log In">
    </form>
  </body>
</html>