<!-- 
  Saad Bhuiyan and Coby Sontag
  SoftDev1 pd2
  K15 -- Create a user log in experience
  2019-10-02
-->  

<!DOCTYPE html>
<html>
  <head>
    <title>
      Login
    </title>
  </head>
  <body>
    <h1> {{ teamName }} </h1>
    <h2> {{ teamMembers }} </h2>
    <hr>
    <h3> Log in to your account. </h3>
    <form action="/auth" method="POST">
      Username: <input type="text" name="username">
      <br>
      Password: <input type="text" name="password">
      <br>
      <br>
      <input type="submit" name="login" value="Log In">
    </form>
  </body>
</html>