<!-- 
  Saad Bhuiyan and Coby Sontag
  SoftDev1 pd2
  K15 -- Create a user log in experience
  2019-10-02
-->  

<!DOCTYPE html>
<html>
  <head>
    <title>
      Welcome
    </title>
  </head>
  <body>
    <h1> {{ teamName }} </h1>
    <h2> {{ teamMembers }} </h2>
    <hr>
    Hello {{username}}, welcome to our beautifully blank site.
    <br>
    Would you like to log out now?
    <br>
    <form action="/logout">
      <input type="submit" name="logout" value="Log Out">
    </form>
  </body>
</html>