<!-- 
	Saad Bhuiyan 
	SoftDev1 pd2
	K25 -- Many APIs in One Flask App
	2019-11-13
-->  

<!DOCTYPE html>
<html>
	<head>
		<title> 
			MetaWeather for {{location}}
		</title>
	</head>
	<body>
		<h1>MetaWeather for {{location}}</h1>
		<hr>
		<br>
		<h3>Weather for {{date_0}}</h3>
		Weather: {{weather_type_0}}
		<br>
		High Temperature: {{max_temp_0}} C
		<br>
		Low Temperature: {{min_temp_0}} C
		<br>
		<br>
		<h3>Weather for {{date_1}}</h3>
		Weather: {{weather_type_1}}
		<br>
		High Temperature: {{max_temp_1}} C
		<br>
		Low Temperature: {{min_temp_1}} C
		<br>
		<br>
		<h3>Weather for {{date_2}}</h3>
		Weather: {{weather_type_2}}
		<br>
		High Temperature: {{max_temp_2}} C
		<br>
		Low Temperature: {{min_temp_2}} C
		<br>
		<br>
		<h3>Weather for {{date_3}}</h3>
		Weather: {{weather_type_3}}
		<br>
		High Temperature: {{max_temp_3}} C
		<br>
		Low Temperature: {{min_temp_3}} C
		<br>
		<br>
		<h3>Weather for {{date_4}}</h3>
		Weather: {{weather_type_4}}
		<br>
		High Temperature: {{max_temp_4}} C
		<br>
		Low Temperature: {{min_temp_4}} C
		<br>
		<br>
		<h3>Weather for {{date_5}}</h3> 
		Weather: {{weather_type_5}}
		<br>
		High Temperature: {{max_temp_5}} C
		<br>
		Low Temperature: {{min_temp_5}} C
		<br>
		<br>
	</body>
</html>
