<!DOCTYPE html>

<html>

    <head>
        <meta charset = "UTF-8">
        <title> Global Temperature Anomalies </title>

        <style>
            * {
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <h1> Global Land and Ocean Temperature Anomalies </h1>

        <div id = "svg"></div>
        
        <button id = "load"> Load </button>
        <button id = "anim"> Animate! </button>
    </body>

    <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src = "static/script.js"></script>

</html>