<!DOCTYPE html>
<html>
  <head>
    <title> occupations.csv to HTML table </title>
    <style> 
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <!-- render template inputs to allow for ease of use -->
    <h1> {{ teamName }} </h1>
    <h2> {{ teamMembers }} </h2>
    {{ description }}
    <!-- the rest of the body is mostly modified based on the data being presented -->
    <h3> random occupation: </h3>
    {{ randomOccupation }} <!-- needs to be input from render template -->
    <h3> occupations.csv to HTML table </h3>
    <table>
      <tr> 
        <th>Job Class</th>
        <th>Percentage</th>
      </tr>
        {% for key, value in dictionary %} <!-- the zip dictionary has a key and value each corresponding to the lists that were zipped -->
          <tr>
            <td> {{ key }} </td> <!-- values from jobClass list -->
            <td> {{ value }} </td> <!-- values from percentage list -->
          <tr>
        {% endfor %}
      <tr>
        <td>Total</td>
        <td>99.8</td>
      </tr>
    </table>
  </body>
</html>
