<!-- 
	Need Warmth -- Saad Bhuiyan and Justin Chen 
	SoftDev1 pd2
	K25 -- Many APIs in One Flask App
	2019-11-13
-->  

<!DOCTYPE html>
<html>
	<head>
		<title> 
			Home
		</title>
	</head>
	<body>
        <form method = "GET" action = "/process">
            <select name = "page">
                <option value = "balldontlie"> Ball Don't Lie </option>
                <option value = "metaweather"> Metaweather </option>
                <option value = "xkcd"> xkcd </option>
                <option value = "spacex"> SpaceX </option>
                <option value = "theysaidso"> They Said So </option>
            </select>
            <br>
            <input type = "submit" value = "Submit">
        </form>
	</body>
</html>