<!-- 
  Saad Bhuiyan and Coby Sontag
  SoftDev1 pd2
  K16 -- Add flashed messages to 15_login and use Jinja inheritance
  2019-10-04
-->  

<!DOCTYPE html>
<html>
	<head>
        <title> {% block title %} {% endblock %} 
            --- Team Cod
	</head>
	<body>
		<h1> {{ teamName }} </h1>
        <h2> {{ teamMembers }} </h2>
        <hr>
		<br>
		{% for message in get_flashed_messages() %}
		{{ message }} 
        <br>
		{% endfor %}
		<br>
		{% block body %}
		{% endblock %}
		<br>
		<br>
		<hr>
		© 2019 Team Cod
	</body>
</html>