<!-- 
  Saad Bhuiyan and Coby Sontag
  SoftDev1 pd2
  K16 -- Add flashed messages to 15_login and use Jinja inheritance
  2019-10-04
-->  

{% extends "main.html" %}
{% block title %}
  Login
{% endblock %}
{% block body %}
  Log in to your account.
  <br>
  <br>
  <form action="/auth" method="POST">
    Username: <input type="text" name="username">
    <br>
    Password: <input type="text" name="password">
    <br>
    <input type="submit" name="login" value="Log In">
  </form>
{% endblock %}